<img src="../../assets/iconfinder___Menu_1904665.svg" alt="" width="50" height="50" style="position: fixed;bottom:20px;left:20px;">
<div class="header">
    <nav>
        <a href="" style="clear: both">IN2MEDIA</a>
        <a href="" class="float-right">CONTACT</a>
        <a href="" class="float-right">JOBS</a>
        <a href="" class="float-right">OUR WORK</a>
        <a href="" class="float-right">ABOUT</a>
    </nav>
    <div class="center">
        <h6>AN INTERNATIONAL DIGITAL AGENCY</h6>
        <p>Business development through user experience</p>
    </div>
</div>