nav a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
h6 {
    padding-top: 100px;
}
.float-right{
    float: right;
}
.header {
    height: 450px;
    background-color: #141926;
    color: white;
}
p {
    font-size: 48px;
}
nav {
    display: none;
    padding:20px 20px;
}
.center {
    width: 100%;
    margin: auto;
    text-align: center;
}
@media screen and (min-width: 780px){
    .center {
        width:768px;
    }
    nav {
        display: inline;
    }
}