<div class="container" style="background-color: #141926;margin-top:10px;">
    <div class="content">
        <div class="icon-container">
            <div class="icon" id="facebook">
                <div class="flip-icon" style="background-color: blue;"></div>
                <div class="flip-icon" style="background-color: white"></div>
            </div>
            <div class="icon" id="twitter">
                <div class="flip-icon" style="background-color: rgb(59, 59, 145);"></div>
                <div class="flip-icon" style="background-color: white"></div>
            </div>
            <div class="icon" id="linkedin">
                <div class="flip-icon" style="background-color: rgb(42, 42, 87);"></div>
                <div class="flip-icon" style="background-color: white"></div>
            </div>
        </div>
        <div style="text-align: center; padding-top: 15px;color:white;">
            STAY SOCIAL
        </div>
    </div>
    <div style="padding-bottom: 50px;width: 230px; margin:auto ">
        <ul style="color:white; list-style-type: circle;">
            <li>In2media A/S</li>
            <li>Rosenvængets Allé 11</li>
            <li>2100 Copenhagen</li>
            <li>info@in2media.dk</li>
            <li>+45 7022 1516</li>
        </ul>
    </div>
</div>