/* You can add global styles to this file, and also import other style files */
body {
    background-color: #EEF1F1;
}
.container {
    width: 100%;
    margin:auto;
}
.content {
    width: 100%;
    padding-top: 140px;
    padding-bottom: 60px;
    margin:auto;
    text-align: center;
}
@media screen and (min-width: 768px){
    .content {
        width: 75%;
    }
}
@media screen and (min-width: 1115px){
    .container{
        width: 1115px;
    }
    .content {
        width: 50%;
    }
}