<div class="container">
    <div class="content">
        <h3>Announcement</h3>
        <p>Backed by one of the largest IT solutions and services groups in the Nordic, In2media has been merged with two other leading agencies into one powerful Nordic digital powerhouse.</p>
        <p>link</p>
    </div>
</div>
<img src="../../assets/employees_x6aqdb.gif" alt="" style="width:100%">
<div class="container">
    <div class="content">
        <h3>Who we are</h3>
        <p>Everyone has experienced the vast changes technology has had on our lives and businesses. Technology has moved from being a focus area to being at the core of a wide range industries.</p>
        <p>For 20 years, we have been in the eye of this digital transformation whirlwind, untangling complexity - enhancing experiences – perfecting execution.</p>
    </div>
    <img src="../../assets/Office.jpg" alt="" class="gallery">
    <div class="up-down-container">
        <div class="up-down">
            <div class="bg-white">Get to know us</div>
            <div class="bg-black">Get to know us</div>
        </div>
    </div>
    <div class="content">
        <h3>What we do</h3>
        <p>Here’s a varied sample of our work. We couldn’t be prouder.</p>
    </div>
    <div style="display: flex; height: 560px; flex-wrap: wrap;">
        <div class="animation-container animation-container-left">
            <div class="bg-blue slide-up">
                <img src="../../assets/Website-Design-on-iPad-Pro-for-Electrical-Company-400x494.png" alt="" style="position: relative;top:250px;left:30%">
            </div>
        </div>
        <div class="animation-container animation-container-right">
            <img src="../../assets/bg-right.jpg" alt="" class="zoom-in">
        </div>
    </div>
</div>