<div class="container">
    <div class="content">
        <h3>Announcement</h3>
        <p>Backed by one of the largest IT solutions and services groups in the Nordic, In2media has been merged with two other leading agencies into one powerful Nordic digital powerhouse.</p>
        <p>link</p>
    </div>
</div>
<img src="../../assets/employees_x6aqdb.gif" alt="" style="width:100%">
<div class="container">
    <div class="content">
        <h3>Who we are</h3>
        <p>Everyone has experienced the vast changes technology has had on our lives and businesses. Technology has moved from being a focus area to being at the core of a wide range industries.</p>
        <p>For 20 years, we have been in the eye of this digital transformation whirlwind, untangling complexity - enhancing experiences – perfecting execution.</p>
    </div>
    <div class="gallery">
        <img src="../../assets/Office.jpg" alt="" style="width: 100%">
        <div class="arrow" style="left: -37.5px"> &larr;</div>
        <div style="right:-37.5px;" class="arrow"> &rarr;</div>
    </div>
    <div class="up-down-container">
        <div class="up-down">
            <div class="bg-white"><div class="left">Get to know us</div><div class="right">&#10230;</div></div>
            <div class="bg-black"><div class="left">Get to know us</div><div class="right">&#10230;</div></div>
        </div>
    </div>
    <div class="content">
        <h3>What we do</h3>
        <p>Here’s a varied sample of our work. We couldn’t be prouder.</p>
    </div>
    <div class="anm">
        <div class="animation-container animation-container-left">
            <div class="bg-blue slide-up">
                <img src="../../assets/Website-Design-on-iPad-Pro-for-Electrical-Company-400x494.png" alt="" style="position: relative;top:250px;left:50%">
            </div>
            <div class="text" style="position:absolute; top: 0px; color: white">
                <h3>FALCK<hr></h3>
                <h1>Deep involvment in a digital journey</h1>
                <p>Building a cornerstone for future digital execution</p>
            </div>
        </div>
        <div class="animation-container animation-container-right">
            <img src="../../assets/bg-right.jpg" alt="" class="zoom-in">
            <div class="text" style="position:absolute; top: 0px; color: white">
                <h3>FALCK<hr></h3>
                <h1>Deep involvment in a digital journey</h1>
                <p>Building a cornerstone for future digital execution</p>
            </div>
        </div>
    </div>
    <div class="phone">
        <div class="phone-text">
            <div class="text">
                <h3>PUBLIC AREA<hr></h3>
                <h1>User-driven innovation of Digital Denmark</h1>
                <p>Based on user behavior, wishes and needs we help Denmark becoming digital</p>
            </div>
        </div>
        <div class="phone-animation">
            <img src="../../assets/iPhone_portrait_3eaiDB.png" alt="">
        </div>
    </div>
    <div class="up-down-container" style="margin-top:10px;">
        <div class="up-down">
            <div class="bg-white"><div class="left">See more examples</div><div class="right">&#10230;</div></div>
            <div class="bg-black"><div class="left">See more examples</div><div class="right">&#10230;</div></div>
        </div>
    </div>
</div>